* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(234, 233, 233);
}

header {
    background-color: white;
    vertical-align: middle;
}

main {
    padding: 20px 0;

}
    
#logo-img {
    vertical-align: middle;
    margin-left: 20px;
}

#logo-text {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 80px;
    vertical-align: middle;
    display: inline;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 600px;
}

#bottonbar {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 40px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
}

.botton-blue {
    background-color: rgb(0, 136, 255);
    color: white;
    font-weight: bold;
    border-color: aqua;

}

.botton-white {
    background-color: white;
    color: grey;
    border-color: grey;
}

#list-container {
    background-color: white;
    padding: 10px 20px;
}

.list {
    list-style: none;
}

li {
    margin: 20px;

}

.list-icon-check {
    border-color: green;
    border-style: groove;
    color: green;
}

.list-icon-cross {
    border-color: red;
    border-style: groove;
    color: red;
}

.list-icon {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 12px;
}

.list-text {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}

.list-label {
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px; 
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    text-align: center;  
}

.editorial-text {
    background-color: rgb(0, 136, 255);
}

.violet-label {
    background-color: blueviolet;
}

.green-label{
    background-color: green;
}

.orange-label {
    background-color: orange;
}

.red-label {
    background-color: rgba(162, 4, 67, 0.854);
}